:root {
	--background-color: rgb(255, 255, 255);
  --header-color: #29a12d;
}

/* Resetting body and html heights */
html, body {
	height: 100%;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	padding: 0;
	background-color: var(--background-color); /* Light background */
	color: #333;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--header-color); /* Header color */
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: height 0.3s ease;
}

nav {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1400px;
	width: 100%;
	padding: 0 20px;
	justify-content: center;
	height: 60px;
}

.menu-icon {
	display: none; /* Hide icon by default */
	font-size: 24px;
	color: #fff; /* Icon color for visibility */
	cursor: pointer;
	position: absolute;
	right: 15px;
	transition: transform 0.3s ease;
}

.nav-links {
	font-size: 22px;
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease;
}

.nav-links li {
	position: relative;
	margin: 0px 50px;
	list-style-type: none;
}

.nav-links li a {
	color: #fff;
	text-decoration: none;
	padding: 15px;
	transition: transform 0.1s ease;
	display: inline-block;
	margin: 0px;
	width: fit-content;
}

.nav-links li a:hover {
	transform: scale(1.1);
	transition: transform 0.1s ease-in-out;
}

.dropdown {
	display: none; /* Hide dropdown by default */
	position: absolute; /* Change to absolute to position it below the parent */
	top: 100%; /* Position it directly below the parent item */
	background-color: var(--header-color);
	min-width: max-content;
	width: fit-content;  
	z-index: 1;
	opacity: 0.9;
	font-size: 16px;
	padding: 5px 0;
	white-space: nowrap;
}

.dropdown li {
	text-align: left;
}

.dropdown li a {
	padding: 10px 0px;
	display: block;
	margin-left: 0px;
}

nav li:hover .dropdown {
	display: block; /* Show dropdown on hover */
}

main {
	margin: 20px auto;
	flex: 1;
	transition: 0.3s ease;
	text-align: center;
}

.generic_title{
  text-align: center;
}

main img{
	width: 250px;
}

.generic_text{
	width: 60%;
	text-align: justify;
	margin: 80px auto;
	font-size: 18px;
}

.contacts_text{
	text-align: center;
}

.email{
	font-size: 16px;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.social-links a {
	color: #333;
	font-size: 26px; 
	transition: color 0.3s;
}

.social-links a:hover {
	color: var(--header-color); 
}

.project_links{
	text-decoration: none;
	color: #333;
	font-size: 22px; 
	transition: color 0.3s;
}

.project_links:hover {
	color: var(--header-color); 
}

footer {
	text-align: center;
	padding: 0px;
	background-color: var(--background-color);
	color: black;
	font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
	.menu-icon {
		display: block; /* Show icon in mobile */
	}

	.nav-links {
		font-size: 18px;
		display: none; /* Hide links by default */
		flex-direction: column; /* Column layout when active */
		width: 100%; /* Full width in mobile */
		background-color: var(--header-color);
		padding: 0;
		margin: 0;
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 10;
		align-items: center;
	}

	.nav-links.active {
		display: flex;
		padding: 0;
	}

	.nav-links li a {
		padding: 10px;
		margin: auto;
	}

	.nav-links li {
		margin: 2px 0;
		text-align: center;
	}

	.dropdown {
		left: 0;
		width: 100vw;
		position: relative;			
	}

	.generic_title{
		font-size: 26px;
	}

	.generic_title{
		text-align: center;
	}
	
	main img{
		width: 200px;
	}
	
	.generic_text{
		width: 80%;
		text-align: justify;
		margin: 80px auto;
		font-size: 16px;
	}

	.email{
		font-size: 14px;
	}

	footer {
		font-size: 12px;
	}
}
